.accountbod{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.accountbod>h3{
    width: 100%;
    padding: 2em;
    font-size: 25px;
    font-weight: 600;
}

.help{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.help>p{
    width: 80%;
}

.help>button{
    width: 210px;
    margin-top: 1em;
    padding: 10px;
    background-color: #3e3c61;
    color: white;
    border: none;
}


.help_bod{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
}

.helpbod{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
}

.helpbox{
    display: flex;
    margin: 10px;
}