.chat_header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #3e3c61;
    height: 7vh;
    color: white;
}

.dashbod1{
    width: 50%;
    height : 100vh;
    background-image: url('https://img.freepik.com/premium-photo/texture-paper-white-background-half-two-colors-with-navy-blue-arrow-macro-structure-dense-craft-cardboard_113767-6312.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
} 

.chat_header>p{
    margin-left: 1em;
}

.chat_field{ 
    width: 100%;
    align-items: center;
    display: flex;
    background-color: #3e3c61;
    position: absolute;
    bottom: 0;
}

.chat_field>textarea{
    outline-width: 0;
    resize: none;
    overflow: hidden;
    height: 1em;
    padding-left: 10px;
    max-height: 90px;
    font-size: 15px;
    flex: 1;
    max-zoom: 1;
    border-radius: 10px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif
}

.chat_field>textarea::placeholder{
    font-family: Arial, Helvetica, sans-serif
}

.mesg{
    position: relative;
}

.chat_bod::-webkit-scrollbar{
    display: none;
    height: 100%;
}

.chat_bod{
    overflow-y: scroll;
    height: 90vh;
    padding-top: 4em;
    padding-bottom: 4em;
}

.sendbtn{
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    border-radius: 50%;
    margin: 5px;
    color: white;
}


.chat1{
    width: 600px;
    position: relative;
    height: 90vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn1TotOzPe8jJW0l6_B4vhvs7gcrCBrOz7Zg&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
}

.chat2{
    width: 600px;
    position: relative;
    height: 90vh;
    background-image: url('https://i.pinimg.com/originals/85/04/30/850430a750fb80c1ebaa5e740fc7cbd6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}












@media only screen and (max-width: 900px){
    .dashbod1{
        width: 100%;
    }

    .chat1{
        width: 100%;
        position: relative;
        height: 100vh;
    }
    
    .chat2{
        width: 100%;
        position: relative;
        height: 100vh;
    }

}